<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="bg-dark"></body>
    <!-- Navbar Start -->
    <%- include('../partials/navbar') %>
    <!-- Navbar End -->



    <!-- Back to Top -->
    <%- include('../partials/backtotop') %>
    <!-- Back to Top End -->
  </body>
</html>